{% extends 'admin/base-admin.html.twig' %}

{% block title %}Modifier user{% endblock %}

{% block body %}
    <h1>Voici ma page de creation</h1>

    <form action="{{ url('app_user_delete', { 'id': user.id }) }}" method="post">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
        <button class="btn btn-danger" type="submit">Delete</button>
    </form>

    {% include 'admin/user/form.html.twig' %}

{% endblock %}
